* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.lider{
    color: green;
}

body {
    background-color: #e6e6e6;
    padding: 30px;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
}

#form-nombres {
    text-align: center;
    margin-bottom: 35px;
}

#form-nombres label {
    display: inline-block;
    margin-right: 5px;
}

#form-nombres input {
    width: 160px;
    padding: 6px;
    margin-right: 15px;
    border: 1px solid #999;
}

#form-nombres button {
    padding: 6px 14px;
    border: 1px solid #333;
    background-color: #ddd;
}

.equipo {
    width: 220px;
    padding: 20px;
    margin: 10px;
    background-color: #fafafa;
    border: 2px solid #444;
    display: inline-block;
    vertical-align: top;
}

#equipo1 {
    border-color: #2c6db2;
}

#equipo2 {
    border-color: #b22c2c;
}

.nombre {
    font-size: 20px;
    margin-bottom: 10px;
}

.puntos {
    font-size: 46px;
    font-weight: bold;
    margin: 15px 0;
}

.equipo button {
    width: 50px;
    height: 35px;
    margin: 4px;
    border: none;
    background-color: #ccc;
}

.equipo button:hover {
    background-color: #bbb;
}

#reset {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
}

#lista-historial {
    max-width: 400px;
    margin: 0 auto;
    padding-left: 20px;
}
