* {
    box-sizing: border-box;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.lider {
    color: #ff4500;
}

body {
    background-color: #fdf0e0;
    padding: 45px 25px;
    color: #222;
}

h1 {
    text-align: left;
    font-size: 38px;
    margin-bottom: 10px;
    font-style: italic;
    color: #4b0082;
}

#form-nombres {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
}

#form-nombres label {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    color: #006400;
}

#form-nombres input {
    width: 190px;
    padding: 5px 7px;
    margin-right: 5px;
    border: 2px dashed #ff00ff;
    border-radius: 3px;
}

#form-nombres button {
    padding: 7px 20px;
    border: 1px dotted #00ffff;
    background-color: #ffddff;
    cursor: pointer;
    font-size: 15px;
}

#form-nombres button:hover {
    background-color: #ffff88;
}

h2 {
    font-style: italic;
    font-size: 18px;
    color: #ff69b4;
}

.marcador {
    width: 250px;
    padding: 16px 28px;
    margin: 10px 35px;
    background-color: #ccffcc;
    border: 4px double #ff0000;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 3px 3px 0px #888888;
}

#equipo1 {
    border-color: #ff6347;
}

#equipo2 {
    border-color: #4682b4;
}

.nombre {
    font-size: 22px;
    margin-bottom: 5px;
    color: #00008b;
}

.puntos {
    font-size: 50px;
    font-weight: 900;
    margin: 10px 0;
    color: #8b0000;
}

.equipo button {
    width: 55px;
    height: 38px;
    margin: 6px;
    border: 2px solid #ff69b4;
    background-color: #7fff00;
    cursor: pointer;
}

.equipo button:hover {
    background-color: #ff1493;
}

#reset {
    display: block;
    margin: 25px auto;
    padding: 12px 28px;
    background-color: #00008b;
    color: #ffff00;
    border: 4px dotted #ff4500;
    border-radius: 0;
    cursor: pointer;
}

#lista-historial {
    max-width: 500px;
    margin: 0 auto;
    padding-left: 40px;
    font-size: 16px;
    color: #4b0082;
}
